<% @posts.each do |post| %>
<ul class="col-lg-4 post-list">
	<li>
		<!-- POST -->
		<article class="panel panel-default">
  		<header class="panel-heading">
  			<h3 class="panel-title"><%= post.title %></h3>
  		</header>
  			<section class="panel-body">
  				<!-- IMAGE -->
					<%= image_tag post.picture.url(:thumb), class: "img-circle panel-img-position" %>
					<!-- CONTENT -->
			    <%= post.content %>
			  </section>

				<aside class="panel-aside">
					<!-- COMMENTS -->
					<% post.comments.each do |comment|%>
						<ul>
							<li>
								<%= comment.comment %>
							</li>
						</ul>
					<% end %>

					<!-- how to put that form in a partial, post is not linked
						CAN I PUT IT IN A COTROLLER ???-->

					<!-- LIKES -->
					<span class="like-count">
						<%= post.likes.count %><%= post.pluralize_likes %>
					</span>
						<%= link_to "Like it!", post_likes_path(post), class: "like-link" %>

					<!-- DISLIKES -->
					<span class="dislike-count">
						<%= post.dislikes.count %><%= post.pluralize_dislikes %>
					</span>
						<%= link_to "Dislike", post_dislikes_path(post), class: "dislike-link" %>

					<!-- AVERAGE -->
					<span class="average">
						Average: <%=  post.average_likes %>
					</span>

					<!-- how to put that form in a partial, post is not linked
							CAN I PUT IT IN A COTROLLER ???-->
					<!-- COMMENT FORM -->
					<%= form_for [post, @new_comment] do |f| %>
					  <%= f.label :comment %>
					  <%= f.text_field :comment %>
					  <%= f.submit 'Submit comment' %>
					<% end %>
				</aside>
			</article>
		</li>
	</ul>
<% end %>
