<!-- Button trigger modal -->
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
  Sign up
</button>
<!-- Modal -->
<article class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <section class="modal-dialog">
    <section class="modal-content">
      <header class="modal-header">
        <h2>Sign up</h2>
            <%= form_for(User.new, as: :user, url: registration_path(:user), html: { class: "form-horizontal"}, role: "form" ) do |f| %>

          <article><%= f.label :email, class: "col-sm-2 control-label", for: "inputEmail3" %><br />
             <section class="col-sm-10">
              <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail3", placeholder: "Put your email please :), otherwise, go fuck yourself" %>
            </section>
          </article>

          <article class="form-group">
            <section class="col-sm-10">
              <%= f.label :password, for: "inputPassword3", class: "form-control", id: "inputPassword3", placeholder: "If you put your password, i'll have it and put it on the web, thanks" %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </section>
          </article>

          <article class="form-group">
            <section>
              <%= f.label :password_confirmation, for: "inputPassword3", class: "form-control", id: "inputPassword3", placeholder: "Put it a second times, just to be sure I have it ;)" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </section>
          </article>

          <article class="form-group">
            <section class="col-sm-offset-2 col-sm-10">
              <%= f.submit "Sign up", class: "btn btn-default" %>
            </section>
          </article>

        <% end %>
      </footer>
    </section>
  </section>
</article>

